/* Ajoute ces styles à ton fichier CSS ou dans une balise <style> dans le HTML */

*{
    font-family: sans-serif;
    font-weight: bold;
}
body{
    background-color: #f4f4f4;
}

header {
    background-color: #35424a;
    padding: 10px;
    text-align: center;
    color: #ffffff;
}

h1 {
    margin: 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}


/* Style pour la liste de modèles */
#modelList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 0;
}

/* Style pour chaque carte modèle */
.model-list li {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    margin-bottom: 20px;
}

/* Style pour l'image du modèle */
img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

/* Style pour les informations du modèle */
div {
    color: #35424a;
    padding: 10px;
    text-align: center;
}

/* Style pour les boutons */
button {
    width: 100%;
    padding: 10px;
    background-color: #35424a;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #35424a;
}

#modelDetails {
    display: flex;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    flex-direction: column;
}

.details-container img {
    width: 50%;
    height: auto;
}

.details-info {
    width: 50%;
    padding-left: 20px;
}

.options-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 0;
}

.options-list li {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    padding: 10px;
    text-align: center;
}




.details-container {
    display: flex;
}

.model-info {
    margin-left: 20px;
}


.option-box {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

#configureForm {
    margin-top: 20px;
}

#configureForm label {
    display: block;
    margin-bottom: 10px; /* Ajoute un espacement en bas de chaque étiquette */
}

#configureForm input[type="text"] {
    width: 100%;
    font-size: 20px;
}

#configureForm input[type="submit"] {
    background-color: #35424a; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

#configureForm input[type="submit"]:hover {
    background-color: #35424a; /* Couleur de fond du bouton au survol */
}

#loginForm, #registerForm {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: 8px;
}

input[type="text"],input[type="number"], input[type="email"],input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}



/* style.css */

/* Ajoute ces styles pour la page de liste des commandes */

#commandList {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

#commandList li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 3px;
    padding: 10px;
    border-radius: 5px;
}

#optionsList div{
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 3px;
    padding: 10px;
    border-radius: 5px;
}

#monthTotalTable {
    width: 50%;
    margin: 20px auto;
}

#monthTotalTable table {
    width: 100%;
    border-collapse: collapse;
}

#monthTotalTable th, #monthTotalTable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#monthTotalTable th {
    background-color: #35424a;
    color: #fff;
}

#monthTotalTable td {
    background-color: #f9f9f9;
}
